$o-fonts-path: 'https://next-geebee.ft.com/build/v2/files/o-fonts-assets@1.3.0/';
$o-forms-is-silent: false;
$o-grid-is-silent: false;

@import 'o-email-only-signup/main';
@import 'o-fonts/main';
@import 'o-grid/main';

@include oFontsInclude(MetricWeb, light);
@include oFontsInclude(MetricWeb, bold);

body {
	margin: 0;
}

.distro-light-signup--flex-wrapper {
	display: flex;
	justify-content: center;

	.o-email-only-signup__submit {
		flex-shrink: 0;
	}
}

.distro-light-signup--open-external {
  line-height: 26px;
}

.distro-light-signup--metadata {
	white-space: pre-wrap;
	font-size: 8px;
}
