$o-fonts-path: 'https://next-geebee.ft.com/build/v2/files/o-fonts-assets@1.3.0/';
$o-forms-is-silent: false;
$o-grid-is-silent: false;

@import 'o-email-only-signup/main';
@import 'o-fonts/main';
@import 'o-grid/main';

@include oFontsInclude(MetricWeb, light);
@include oFontsInclude(MetricWeb, bold);

@function pxAndVwToViewport($vw, $px) {
	@return $px * 100vw / $vw;
}

@mixin responsive($size, $min: 0, $max: 0, $prop: 'font-size') {
	#{$prop}: $size;

	@if $min != 0 {
		@media (max-width: pxAndVwToViewport($size, $min)) {
			#{$prop}: $min;
		}
	}

	@if $max != 0 {
		@media (min-width: pxAndVwToViewport($size, $max)) {
			#{$prop}: $max;
		}
	}
}

html, body {
	height: 100%;
}

%vertical-center {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

body {
	@extend %vertical-center;
	margin: 0;
	padding: 15px 0;
	box-sizing: border-box;
}

.distro-light-signup--body-wrapper {
	@extend %vertical-center;
}

.distro-light-signup--flex-wrapper {
	display: flex;
	justify-content: center;

	.o-email-only-signup__submit {
		flex-shrink: 0;
	}
}

.distro-light-signup--open-external {
  line-height: 26px;
}

.o-email-only-signup {
	@extend %vertical-center;
}

.o-email-only-signup.o-email-only-signup {
	// o-email-only-signup assumes the parent component can set side padding, but in FIA
	// we have no control. Override manually here instead
	padding: 15px;
	margin: 0;
}

.o-email-only-signup__heading {
	@include responsive(6vw, $min: 15px, $max: 24px);
}

.o-email-only-signup__email,
.o-email-only-signup__submit,
.o-email-only-signup__text {
	@include responsive(4.5vw, $min: 13.5px, $max: 18px);
}

.o-email-only-signup__no-spam {
	@include responsive(3.75vw, $min: 11px, $max: 15px);
}

.o-email-only-signup__text,
.o-email-only-signup__no-spam {
	line-height: 1.1;
}

.o-email-only-signup__heading,
.o-email-only-signup__email,
.o-email-only-signup__submit {
	line-height: 1;
}

.o-email-only-signup__secondary {
	@include responsive(4vw, $prop: 'margin-top', $min: 8px, $max: 16px);
	// in iOS <=8 this margin collapses into the flexbox void space. we've set it
	// as padding on .o-email-only-signup instead.
	margin-bottom: 0;
}
