$o-fonts-path: 'https://next-geebee.ft.com/build/v2/files/o-fonts-assets@1.3.0/';
$o-forms-is-silent: false;
$o-grid-is-silent: false;

@import 'o-email-only-signup/main';
@import 'o-fonts/main';
@import 'o-grid/main';

@include oFontsInclude(MetricWeb, light);
@include oFontsInclude(MetricWeb, bold);

body {
	margin: 0;

	// Ensure the .o-email-only-signup div is allowed to expand to full height
	position: absolute;
	min-height: 100%;
	display: flex;
}

.distro-light-signup--flex-wrapper {
	display: flex;
	justify-content: center;

	.o-email-only-signup__submit {
		flex-shrink: 0;
	}
}

.distro-light-signup--open-external {
  line-height: 26px;
}

.o-email-only-signup.o-email-only-signup {
	// o-email-only-signup assumes the parent component can set side padding, but in FIA
	// we have no control. Override manually here instead
	padding: 15px 15px 0;
}
