<div class="o-email-only-signup" data-o-component="o-email-only-signup" data-trackable="light-signup">
	<div class="o-email-only-signup__inner">
		<h3 class="o-email-only-signup__heading">Sample the FT, with the top stories sent <span class="o-email-only-signup__highlight">free</span> to your inbox every morning</h3>
		<p class="o-email-only-signup__text">For 1 week, you’ll get an email with free access to the 3 most read FT stories.</p>
		<div class="o-email-only-signup__secondary" data-o-email-only-signup-completion-message>
			{{> @partial-block }}
		</div>
	</div>
</div>
